html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d05c2e;
}

img {
  width: 40px;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #d05c2e;
}

li {
  margin: 0;
  border: 1px solid #a63f38;
  width: 33.3333%;
  text-align: center;
  list-style-type: none;
  font-size: 1.125rem;
  color: #fff;
}

a {
  padding: .5em 0;
  display: block;
  text-decoration: none;
  color: #fff;
}

a:hover {
  background-color: #a63f38;
}
